/* Google Fonts font-family: "Press Start 2P", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Google Fonts font-family: "Nunito", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

:root {
  background: linear-gradient(90deg, #0F2027, #203A43, #2C5364);
}

.container_carrusel {
  display: flex;
  flex-direction: row;
}

.portfolio {
  background: linear-gradient(90deg, #0F2027, #294953, #336175);
  width: 1300px;
  height: 80vh;
  align-items: center;
  box-shadow: -15px 5px 30px rgba(255, 255, 255, 0.2);
  animation: glowShadow 5s infinite ease-in-out;
}

.portfolio2 {
  background: linear-gradient(90deg, #360033, #0b8793);
  width: 1300px;
  height: 80vh;
  align-items: center;
  box-shadow: -15px 5px 30px rgba(255, 255, 255, 0.2);
  animation: glowShadow 5s infinite ease-in-out;
}

.portfolio3 {
  background: linear-gradient(90deg, #aab640, #2fa3f0);
  width: 1300px;
  height: 80vh;
  align-items: center;
  box-shadow: -15px 5px 30px rgba(255, 255, 255, 0.2);
  animation: glowShadow 5s infinite ease-in-out;
}

.portfolio4 {
  background-color: rgb(172, 105, 50);
  width: 1300px;
  height: 80vh;
  align-items: center;
  box-shadow: -15px 5px 30px rgba(255, 255, 255, 0.2);
  animation: glowShadow 5s infinite ease-in-out;
}

.portfolio6 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 1300px;
  height: 80vh;
  align-items: center;
  box-shadow: -15px 5px 30px rgba(255, 255, 255, 0.2);
  animation: glowShadow 5s infinite ease-in-out;
}


@keyframes glowShadow {
  0% {
    box-shadow: -5px 0px 20px rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: -5px 0px 30px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: -5px 0px 20px rgba(255, 255, 255, 0.2);
  }
}

/* SmartPhones */
@media (max-width:768px) {
  #root {
    width: 100%;
    height: auto;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;

    align-items: center;
    margin-top: 5%;
  }

  .portfolio .circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }

  .portfolio .circle2 {
    width: 120px;
    height: 120px;
  }

  .portfolio .circle img {
    width: 100px;
    height: 100px;
  }

  .portfolio .text_header {
    width: 100%;
    height: auto;
    padding-top: 5%;
    text-align: start;
  }

  .portfolio .text_header #tecno {
    font-size: 20px;
    padding-left: 5%;

  }

  .portfolio .text_header p {
    font-size: 12px;
    margin-top: 2%;
  }

  .portfolio .list_skills {
    width: 100%;
    height: auto;
    margin-top: 2%;
    justify-items: center;
    align-content: center;
  }

  .portfolio .list_skills ul {
    width: 90%;
    gap: 0;
    padding: 0;
    text-align: center;
    flex-direction: row;
    gap: 10px;
  }

  .portfolio .list_skills li {
    font-size: 10px;
  }

}

@media(max-width:768px) and (orientation:landscape) {
  .portfolio .list_skills ul {
    width: 100%;
    justify-content: center;
  }
}

/* Laptops */
@media (min-width: 769px) and (max-width: 1919px) {
  .portfolio {
    gap: 5%;
  }
}

/* Monitors and tv */
@media (min-width: 1920px) and (max-width: 2048px) {
  .portfolio {
    gap: 5%;
  }
}